*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background: url("ba7aad0b874f0f67d32fecaa87397cb1.jpg") center/cover no-repeat;
}

.topbar {
    background: #072f5f;
    color: white;
    font-size: 14px;
    padding: 30px 0px;
}

.topbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.topbar .adress{
    position: relative;
    top: -15px;
}

.topbar .medsos a{
    color: #ffcc66;
    margin-left: 15px;
    text-decoration: none;
    position: relative;
    top: -15px;
}

.navbar{
    background: white;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    margin-top: -30px; /* ini yang bikin efek melayang */
    width: 95%; /* lebih lebar sesuai gambar */
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navinner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    height: 28px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu li a.active{
    color: #ff9900;
}

.menu > li{
    position: relative;
}

.dropdown_mn{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    border-radius: 6px;
    width: 150px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.dropdown:hover .dropdown_mn{
    display: block;
}

.dropdown_mn li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown_mn li a:hover{
    background: #f0f0f0;
}

.overlay{
    position: absolute;
    bottom: -250px; 
    width: 100%;
    padding: 20px 0;
}

.card{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.card1{
    background: white;
    width: 220px;
    padding: 25px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px;
}

.card1 .icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.card1 h3{
    margin: 10px 0;
}

.btn{
    background: #ff7a2f;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.container1{
    max-width: 1200px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.sectiontitle h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.tab{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab button{
    padding: 8px 15px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 20px;
    cursor: pointer;
}

.tab .active{
    background: #ff3366;
    color: white;
}

.product{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
}

.bigproduct{
    width: 100%;
    border-radius: 8px;
}

.productgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card2{
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card2 img{
    width: 100%;
    border-radius: 8px;
}

.card2 h4{
    margin-top: 10px;
    font-size: 16px;
}

.price{
    margin-top: 5px;
    color: #444;
    font-weight: bold;
}

